{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "extends": [
    "plugin:prettier/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "presets": [
        "@babel/preset-react"
      ]
    },
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "warn",
    "no-eval": "error"
  }
}
